<launch>
  <arg name="use_sim_time" default="false" />
  <arg name="rviz"         default="true" />

  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <!-- Static TF: map → Fr0 -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_fr0" args="0 0 0 0 0 0 map Fr0" />

  <!-- Shared Nodelet Manager -->
  <node pkg="nodelet" type="nodelet" name="planning_manager" args="manager" output="screen" />

  <!-- Global Planner -->
  <node pkg="nodelet" type="nodelet" name="GlobalPlannerNodelet" args="load carmaker_planning/GlobalPlannerNodelet planning_manager" output="screen">
    <rosparam command="load" file="$(find carmaker_planning)/config/global_planner_params.yaml" />
  </node>

  <!-- Local Planner -->
  <node pkg="nodelet" type="nodelet" name="LocalPlannerNodelet" args="load carmaker_planning/LocalPlannerNodelet planning_manager" output="screen">
    <rosparam command="load" file="$(find carmaker_planning)/config/local_planner_params.yaml" />
  </node>

  <!-- RViz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find carmaker_planning)/config/planner.rviz" required="false" if="$(arg rviz)" />
</launch>
