<launch>
  <arg name="input_dir" default="$(find carmaker_image_pipeline)/data/gt_images"/>
  <arg name="mask_dir" default="$(find carmaker_image_pipeline)/data/mask"/>
  <arg name="output_dir" default="$(find carmaker_image_pipeline)/data/gt_post_processed"/>
  <arg name="image_glob" default="*.png"/>
  <arg name="cameras" default="front,left,rear,right"/>
  <arg name="json_pattern" default="{camera}_GT.json"/>
  <arg name="mask_pattern" default="{camera}_mask.png"/>
  <arg name="refresh_masks" default="false"/>
  <arg name="label" default="car_body"/>
  <arg name="suffix" default="_post"/>
  <arg name="lane_threshold" default="40"/>
  <arg name="landmark_gray_min" default="160"/>
  <arg name="landmark_gray_max" default="165"/>

  <node pkg="carmaker_image_pipeline"
        type="apply_mask.py"
        name="apply_mask"
        output="screen"
        args="--input-dir $(arg input_dir)
              --mask-dir $(arg mask_dir)
              --output-dir $(arg output_dir)
              --image-glob $(arg image_glob)
              --cameras $(arg cameras)
              --json-pattern $(arg json_pattern)
              --mask-pattern $(arg mask_pattern)
              --label $(arg label)
              --suffix $(arg suffix)
              --lane-threshold $(arg lane_threshold)
              --landmark-gray-min $(arg landmark_gray_min)
              --landmark-gray-max $(arg landmark_gray_max)
              $(eval '--refresh-masks' if arg('refresh_masks') == 'true' else '')"/>
</launch>
