<launch>
  <arg name="bag" default="/tmp/input.bag"/>
  <arg name="raw_out_dir" default="$(find carmaker_image_pipeline)/data/raw_images"/>
  <arg name="gt_out_dir" default="$(find carmaker_image_pipeline)/data/gt_images"/>
  <arg name="gt_topic_regex" default="(image_gt|_gt/.*/image_raw|_gt/image_raw|/gt/|ground_truth|seg)"/>
  <arg name="raw_topic_regex" default="(image_raw|/raw/)"/>
  <arg name="cameras" default="front,left,rear,right"/>
  <arg name="include_unknown_camera" default="false"/>
  <arg name="max_frames_per_topic" default="0"/>
  <arg name="start_offset_sec" default="0.0"/>
  <arg name="duration_sec" default="0.0"/>
  <arg name="overwrite" default="false"/>

  <node pkg="carmaker_image_pipeline"
        type="extract_bag_images.py"
        name="extract_bag_images"
        output="screen"
        args="--bag $(arg bag)
              --raw-out-dir $(arg raw_out_dir)
              --gt-out-dir $(arg gt_out_dir)
              --gt-topic-regex $(arg gt_topic_regex)
              --raw-topic-regex $(arg raw_topic_regex)
              --cameras $(arg cameras)
              --max-frames-per-topic $(arg max_frames_per_topic)
              --start-offset-sec $(arg start_offset_sec)
              --duration-sec $(arg duration_sec)
              $(eval '--include-unknown-camera' if arg('include_unknown_camera') == 'true' else '')
              $(eval '--overwrite' if arg('overwrite') == 'true' else '')"/>
</launch>
