<launch>
  <arg name="foxglove" default="false" />
  <arg name="use_sim_time" default="false" />

  <!-- Global parameter for sim time (e.g., rosbag playback) -->
  <param name="use_sim_time" value="$(arg use_sim_time)" />

  <node pkg="nodelet" type="nodelet" name="img_sync_nodelet_manager" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="ImageSynchronizerNodelet" args="load carmaker_image_synchronizer/ImageSynchronizerNodelet img_sync_nodelet_manager" output="screen">
    <rosparam command="load" file="$(find carmaker_image_synchronizer)/config/image_synchronizer_params.yaml" />
  </node>

  <!-- Foxglove Bridge for Visualization (Optional) -->
  <group if="$(arg foxglove)">
    <include file="$(find foxglove_bridge)/launch/foxglove_bridge.launch" >
      <arg name="port" value="8765" />
    </include>
  </group>
</launch>
