#!/usr/bin/env python
PACKAGE = "carmaker_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

# Speed PID Parameters
gen.add("pid_kp", double_t, 0, "PID Proportional Gain", 1.0, 0.0, 10.0)
gen.add("pid_ki", double_t, 0, "PID Integral Gain", 0.0, 0.0, 2.0)
gen.add("pid_kd", double_t, 0, "PID Derivative Gain", 0.05, 0.0, 2.0)

# Stanley Forward Parameters
gen.add("stanley_forward_k", double_t, 0, "Stanley Forward Cross-track Gain k", 1.0, 0.0, 10.0)
gen.add("stanley_forward_k_soft", double_t, 0, "Stanley Forward Softening Constant k_soft", 0.2, 0.01, 5.0)
gen.add("stanley_forward_cte_gain", double_t, 0, "Stanley Forward CTE Gain", 1.0, 0.0, 10.0)
gen.add("stanley_forward_heading_gain", double_t, 0, "Stanley Forward Heading Gain", 1.0, 0.0, 5.0)
gen.add("stanley_forward_curvature_ff_gain", double_t, 0, "Stanley Forward Curvature Feedforward Gain", 0.0, 0.0, 5.0)

# Stanley Reverse Parameters
gen.add("stanley_reverse_k", double_t, 0, "Stanley Reverse Cross-track Gain k", 1.0, 0.0, 10.0)
gen.add("stanley_reverse_k_soft", double_t, 0, "Stanley Reverse Softening Constant k_soft", 0.3, 0.01, 5.0)
gen.add("stanley_reverse_cte_gain", double_t, 0, "Stanley Reverse CTE Gain", 1.0, 0.0, 10.0)
gen.add("stanley_reverse_heading_gain", double_t, 0, "Stanley Reverse Heading Gain", 1.0, 0.0, 5.0)
gen.add("stanley_reverse_curvature_ff_gain", double_t, 0, "Stanley Reverse Curvature Feedforward Gain", 1.0, 0.0, 5.0)

# Forward Lookahead Parameters
gen.add("forward_lookahead_distance", double_t, 0, "Forward Lookahead Distance", 0.0, 0.0, 5.0)
gen.add("forward_lookahead_time", double_t, 0, "Forward Lookahead Time", 0.0, 0.0, 2.0)
gen.add("forward_min_lookahead_distance", double_t, 0, "Forward Min Lookahead Distance", 0.0, 0.0, 5.0)
gen.add("forward_max_lookahead_distance", double_t, 0, "Forward Max Lookahead Distance", 0.0, 0.0, 10.0)
gen.add("forward_curvature_preview_distance", double_t, 0, "Forward Curvature Preview Distance", 0.0, 0.0, 5.0)
gen.add("forward_curvature_preview_window", double_t, 0, "Forward Curvature Preview Window", 0.0, 0.0, 5.0)

# Reverse Lookahead Parameters
gen.add("reverse_lookahead_distance", double_t, 0, "Reverse Lookahead Distance", 0.0, 0.0, 5.0)
gen.add("reverse_lookahead_time", double_t, 0, "Reverse Lookahead Time", 0.0, 0.0, 2.0)
gen.add("reverse_min_lookahead_distance", double_t, 0, "Reverse Min Lookahead Distance", 0.0, 0.0, 5.0)
gen.add("reverse_max_lookahead_distance", double_t, 0, "Reverse Max Lookahead Distance", 0.0, 0.0, 10.0)
gen.add("reverse_curvature_preview_distance", double_t, 0, "Reverse Curvature Preview Distance", 0.82, 0.0, 5.0)
gen.add("reverse_curvature_preview_window", double_t, 0, "Reverse Curvature Preview Window", 0.0, 0.0, 5.0)

# Alignment Fade-out Parameter
gen.add("alignment_fade_distance", double_t, 0, "Distance threshold for fading out off-tracking offset", 2.97, 0.0, 10.0)

# Forward Control Lookahead (shifting tracking point beyond front axle)
gen.add("forward_control_lookahead", double_t, 0, "Forward Control Feedback Lookahead Distance", 0.0, 0.0, 5.0)

# Reverse Control Lookahead (shifting tracking point behind rear axle)
gen.add("reverse_control_lookahead", double_t, 0, "Reverse Control Feedback Lookahead Distance", 0.82, 0.0, 5.0)

# Curvature Weighting for Off-Tracking Compensation
gen.add("front_curvature_weight", double_t, 0, "Front Path Curvature Weight for Off-Tracking", 0.45, 0.0, 1.0)

exit(gen.generate(PACKAGE, "carmaker_control_node", "CarmakerControl"))
