<launch>
  <arg name="foxglove" default="false" />

  <node pkg="nodelet" type="nodelet" name="gateway_nodelet_manager" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="GatewayNodelet" args="load carmaker_gateway/GatewayNodelet gateway_nodelet_manager" output="screen">
    <rosparam command="load" file="$(find carmaker_gateway)/config/gateway_params.yaml" />
  </node>

  <!-- Foxglove Bridge for Visualization (Optional) -->
  <group if="$(arg foxglove)">
    <node name="foxglove_bridge" pkg="foxglove_bridge" type="foxglove_bridge_node" output="screen">
      <param name="port" value="8765" />
    </node>
  </group>
</launch>
