<launch>
  <arg name="checkpoint_path" default="" />
  <arg name="config_path" default="" />
  <arg name="device" default="" />
  <arg name="image_size" default="" />
  <arg name="inference_precision" default="fp16" />
  <arg name="cuda_warmup_iterations" default="1" />
  <arg name="input_mode" default="bundle" />
  <arg name="bundle_topic" default="/synced/bundle" />
  <arg name="class_map_bundle_topic" default="/segmentation/class_map_bundle" />
  <arg name="image_topic" default="/camera/image_raw" />
  <arg name="class_map_topic" default="/segmentation/class_map" />
  <arg name="drop_while_busy" default="true" />
  <arg name="bundle_batch_inference" default="true" />
  <arg name="bundle_batch_size" default="4" />
  <arg name="log_timing" default="true" />

  <node pkg="segmentation_ros" type="segmentation_inference_node.py" name="segmentation_inference_node" output="screen">
    <rosparam command="load" file="$(find segmentation_ros)/config/segmentation_inference.yaml" />

    <param name="checkpoint_path" value="$(arg checkpoint_path)" />
    <param name="config_path" value="$(arg config_path)" />
    <param name="device" value="$(arg device)" />
    <param name="image_size" value="$(arg image_size)" />
    <param name="inference_precision" value="$(arg inference_precision)" />
    <param name="cuda_warmup_iterations" value="$(arg cuda_warmup_iterations)" />
    <param name="input_mode" value="$(arg input_mode)" />
    <param name="bundle_topic" value="$(arg bundle_topic)" />
    <param name="class_map_bundle_topic" value="$(arg class_map_bundle_topic)" />
    <param name="image_topic" value="$(arg image_topic)" />
    <param name="class_map_topic" value="$(arg class_map_topic)" />
    <param name="drop_while_busy" value="$(arg drop_while_busy)" />
    <param name="bundle_batch_inference" value="$(arg bundle_batch_inference)" />
    <param name="bundle_batch_size" value="$(arg bundle_batch_size)" />
    <param name="log_timing" value="$(arg log_timing)" />
  </node>
</launch>
